body {
    margin: 0px;
    background-color: sandybrown;
    margin: 10px 300px;
}

.form-check {
    font-size: 20px;
    color: black;
    font-weight: 1000;
}


.tlacitko {
    color:white;
    border: black 1px;
    background-color:red;
    font-size: 20px;
    margin: 20px 0px;
}