* {
    padding: 0;
    margin: 0;

}

#hra {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#postava {
    width: 20px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
}
.animate {
    animation: jump 500ms ;
}

@keyframes jump {
    0% {top: 150px;}
    30% {top: 100px;}
    70% {top: 100px;}
    100% {top: 150px;}
}

#prekazka {
    width: 20px;
    height: 20px;
    background-color: grey;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block is infinite linear;
}

@keyframes prekazka {
    0% {left: 480px;}
    100% {left: -40px;}
}